body{
    margin: 0px;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #DB58DE;
}

#background{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.object{
    position: fixed;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    display: flex;
    transform-origin: top left;
}

.img{
    position: relative;
    z-index: 2;
}

.glow{
    position: absolute;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    filter: brightness(1) blur(10px);
    -webkit-filter: brightness(1) blur(10px);
}

.debug{
    color: #DB58DE;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.winState{
    animation: winAnim .7s ease-in-out;
}

#logo{
    top: 10px;
    left: 10px;
    position: absolute;
    font-size: 80px;
    letter-spacing: 8px;
    text-shadow: 0 0 12px #DB58DE;
    transition: text-shadow 0.3s ease-in-out;
}

#logo:hover{
    text-shadow: 0 0 20px #DB58DE;
}

#level-select{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

.locked{
    opacity: 0.4;
}

.done{
    opacity: 1;
}

.unlocked{
    opacity: 1;
}

.level{
    text-shadow: 0 0 12px #DB58DE;
    transition: text-shadow 0.3s ease-in-out;
}

.done:hover{
    text-shadow: 0 0 20px #DB58DE;
}

.unlocked:hover{
    text-shadow: 0 0 20px #DB58DE;
}

@keyframes winAnim {
0% {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    filter: brightness(1.5) blur(10px);
    -webkit-filter: brightness(1.5) blur(15px);
}
50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    filter: brightness(1.8) blur(15px);
    -webkit-filter: brightness(1.8) blur(15px);
}
100% {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    filter: brightness(1) blur(10px);
    -webkit-filter: brightness(1) blur(15px);
}
}

#vid-div{
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: end;
    z-index: -1;
    position: absolute;
}

#vid{
    width: 640px;
    height: 480px;
    position: absolute;
    opacity: 0.5;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#vid-canvas{
    position: absolute;
}

#vid-coords{
    bottom: 0;
    left: 0;
    position: relative;
}

#hamburger{
    top: 10px;
    right: 10px;
    position: absolute;
}

#side-bar{
    background-color: rgb(255, 255, 255, 0.2);
    right: 0px;
    width: 400px;
    height: 100vh;
    position: absolute;
    transition: right 0.5s ease-in-out;
    font-size: 30px;
    padding: 50px;
    z-index: 100;
}

#side-bar.hidden{
    right: -500px;
}

#control{
    width: fit-content;
}

#control-dropdown{
    align-items: right;
    position: absolute;
}

#control-dropdown-content{
    display: none;
    position: absolute;
}

#control-dropdown-content span{
    display: block;
    overflow: visible;
    white-space: nowrap;
}

#control-dropdown:hover #control-dropdown-content{
    display: block;
}

.dropdown-item:hover{
    font-weight: bold;
}

#debug-sidebar{
    width: fit-content;
}

#debug-dropdown{
    align-items: right;
    position: absolute;
}

#debug-dropdown-content{
    display: none;
    position: absolute;
}

#debug-dropdown-content span{
    display: block;
    overflow: visible;
    white-space: nowrap;
}

#debug-dropdown:hover #debug-dropdown-content{
    display: block;
}

#cursor{
    position: fixed;
    z-index: 10;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#cursor-border{
    transform: translate(-35%, -35%);
    --v:calc( ((18/5) * var(--p) - 90)*1deg);
    width: 40px;
    height: 40px;
    display: flex;
    position: fixed;
    border-radius: 50%;
    padding: 5px;
    background:
      linear-gradient(var(--v), transparent 50%,white        0) 0/min(100%,(var(--p) - 50)*100%),
      linear-gradient(to right, transparent 50%,white 0);
    -webkit-mask:
      linear-gradient(var(--v), white     50%,transparent 0) 0/min(100%,(50 - var(--p))*100%),
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }